<div class="bg-gray-50 h-full min-h-screen flex justify-center items-center">
  <div
    class="flex-1 bg-white sm:mx-auto sm:w-full sm:max-w-sm p-6 rounded-lg shadow-lg ring-1 ring-inset ring-gray-50"
  >
    <h2 class="text-3xl font-bold">Přihlášení</h2>

    <div
      class="block ring-inset ring-1 ring-red-700 bg-red-700 text-white rounded p-2 mt-5"
      role="alert"
      *ngIf="!!formErrorMsg"
    >
      {{ formErrorMsg }}
    </div>

    <form [formGroup]="form" (ngSubmit)="onFormSubmit()" class="mt-5">
      <div>
        <label for="email" class="block font-medium text-sm text-black"
          >Email</label
        >
        <input
          type="email"
          class="px-2 mt-1 block w-full rounded border-0 py-1.5 shadow-sm ring-1 ring-inset focus:ring-1"
          [class.ring-red-600]="showError(form.controls.username)"
          [class.ring-gray-300]="!showError(form.controls.username)"
          id="email"
          formControlName="username"
        />
        <div
          class="mt-1 block rounded text-red-600"
          *ngIf="showError(form.controls.username)"
        >
          {{ getErrorMsg(form.controls.username) }}
        </div>
      </div>
      <!-- -->
      <div class="mt-4">
        <label for="password" class="block font-medium text-sm text-black"
          >Heslo</label
        >
        <input
          type="password"
          class="px-2 mt-1 block w-full rounded border-0 py-1.5 shadow-sm ring-1 ring-inset focus:ring-1"
          [class.ring-red-600]="showError(form.controls.password)"
          [class.ring-gray-300]="!showError(form.controls.password)"
          id="password"
          formControlName="password"
        />
        <div
          class="mt-1 block rounded text-red-600"
          *ngIf="showError(form.controls.password)"
        >
          {{ getErrorMsg(form.controls.password) }}
        </div>
      </div>
      <div class="block mt-4">
        <button
          type="submit"
          class="bg-blue-700 rounded flex w-full justify-center text-white font-medium py-2"
        >
          Přihlásit se
        </button>
      </div>
    </form>
  </div>
</div>
